<section class="h-auto tails-selected-element bg-white">
    <div class="max-w-7xl mx-auto py-16 px-10 sm:py-24 sm:px-6 lg:px-8 sm:text-center">
        <p class="mt-1 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl lg:text-6xl">Quem somos</p>
        <p class="max-w-3xl mt-5 mx-auto text-lg text-gray-600">Somos uma plataforma que conecta os integradores de energia solar a potenciais clientes de maneira rápida e prática por meio de parceiros estratégicos.
Existimos para descomplicar a energia solar e aproveitar as oportunidades para levar energia limpa, renovável e acessível.</p>
    </div>
</section>