<div
  class="relative z-10"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
  x-data="{ showModal: false, title: '', content: '' }"
  @keydown.escape="showModal = false"
  @showmodalevent.window="showModal = true; title = $event.detail.title; content = $event.detail.content"
>
  <!--
    Background backdrop, show/hide based on modal state.

    Entering: "ease-out duration-300"
      From: "opacity-0"
      To: "opacity-100"
    Leaving: "ease-in duration-200"
      From: "opacity-100"
      To: "opacity-0"
  -->
  <div x-show="showModal" class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div x-show="showModal" class="fixed inset-0 z-10 overflow-y-auto">
    <div
      class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
    >
      <div
        class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg"
      >
        <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
          <div class="sm:flex sm:items-start">
            <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
              <h3
                class="text-base font-semibold leading-6 text-gray-900"
                id="modal-title"
                x-text="title"
              ></h3>
              <div class="mt-2">
                <p class="text-sm text-gray-500" x-text="content"></p>
              </div>
            </div>
          </div>
        </div>
        <div class="px-4 py-3 sm:flex sm:px-6 sm:flex-row-reverse">
          <button
            type="button"
            x-on:click="showModal=false"
            class="rounded-lg bg-white px-5 py-3 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
          >
            Fechar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
